@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,400;1,100;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@import './styles/variables';

$primContainerBgColor:#0A0F16;
$primBodyBgColor:#101823;
$primfontFam:'Overpass', sans-serif;


body{
  background-color: $primBodyBgColor;
  padding: 2rem 1rem;
  @media(max-width: 768px){
    padding: 0rem;
  }
  .homeContainer{
    // background-color: $primContainerBgColor;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
    gap: .8rem;
    @media(max-width: 768px){
      flex-direction: column;
      margin: 0;
      min-height: 100vh;
      width: 100%;
      height: 100%;
    }
    .sideBar{
      width: 7%;
      display: flex;
      flex-direction: column;
      height: 97%;
      gap: .7rem;
      @media(max-width: 768px){
        flex-direction: column;
        height: 20%;
        width: 100%;
        z-index: 200;
        top: 0;
        gap: 1rem;
      }
      .topSideBar{
          padding: 01rem;
        border-radius: 20px;
        width: 100%;
        background-color:$primContainerBgColor;
        color: white;
        height: 20%;
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media(max-width: 768px){
          flex-direction: row;
          justify-content: space-between;
        }
        .left-topside{
          // background-color: red;
          .profile{
            // background-color: rgb(103, 128, 103);
            img{
              border-radius: 2rem;
            }
            .profile-details{
              
              .name{
                font-size: .6rem;
              }
              .role{
                font-size: .5rem;
              }
            }
          }
        }
        .right-topside{
          display: flex;
          align-items: center;
          justify-content: center;

        }
      }
      .bottmSideBar{
        padding: 03rem 1rem;
        border-radius: 20px;
        width: 100%;
        background-color:$primContainerBgColor;
        color: white;
        height: 90%;
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media(max-width: 768px){
          flex-direction: row;
          overflow: auto;
        }
        .menu-detail {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: .5rem .6rem ;
          border-bottom: .5px solid rgba(174, 173, 173, 0.57);
          @media(max-width: 768px){
          padding: .2rem;
          text-align: center;
          border-bottom: none;
          padding: .1rem .3rem;
          border-left: .5px solid rgba(174, 173, 173, 0.57);
          font-size: .5rem;
          }
        }
      }
    }
    .profileSectn{
      position: relative;
      width: 43%;
      border: .5px solid rgba(57, 55, 55, 0.338);
      border-radius: 1.2rem;
      overflow: hidden;
      @media(max-width: 768px){
        width: 100%;
        margin-top: 1rem;
        height: auto;
        overflow: hidden;
      }
      .banner{
        width: 100%;
        height: 50%;
        z-index: 200;
        // background-color: blue;
        background: url('/images/banner.jpg');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 99%, 74% 89%, 25% 89%, 0 100%, 0% 30%);
        @media(max-width: 768px){
          width: 100%;
          height: 500px;
          background: none;
        }
        img{
          display: none;
          @media(max-width: 768px){
            display: block;
            width: 100%;
            clip-path: polygon(0 0, 70% 0%, 100% 0, 100% 99%, 74% 89%, 25% 89%, 0 100%, 0% 30%);
            height: 50%;
          }
        }
      }
      .profile-details{
        align-items: center;
        // background-color: red;
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 100%;
        position: absolute;
        top: 12rem;
        z-index: 0;
        color: white;
        @media(max-width: 768px){
          // position: relative;
          top: 10rem;
        }
        .prof-top{
          width: 50%;
          // background-color: red;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          .bg-rect{
            height: 150px;
            width: 140px;
            background: green;
            position: absolute;
            z-index: 5;
            border-radius: 3rem;
            left: 2.7rem;
            top: .1rem;
            background-color: #a33da56d;
            @media(max-width: 768px){
              left:auto;
            }
          }
          img{
            z-index: 100;
            border-radius: 3rem;  
            border: 4px solid $primBodyBgColor;
          }
        }
        h1{
          font-size: 30px;
          font-family: $primfontFam;
          font-weight: 500;
          margin-top: 1rem;
        }
        p{
          text-align: center;
          color: rgb(163,65, 165);
          font-family: $primfontFam;
          font-size: 16px;
        }
      }
      .socials{
        color: white;
        
      }
      .follows{
        display: flex;
        align-items: center;
        // background-color: #ff0000;
        height: 100px;
        border:.5px solid rgba(57, 55, 55, 0.338);
        border-bottom: .5px solid rgba(57, 55, 55, 0.338);
        width: 100%;
        border-right-width:100% ;
        margin-top: 1rem ;
       justify-content: center;
       padding: 0 1rem;
       @media(max-width: 768px){
        border-bottom: none;
        height: auto;
        font-size: .7rem;
        height: auto;
        margin-top: 2rem;
      }
       h2{
        width: 50%;
        height: fit-content;
       }
       .contactBtn{
        border-left: .5px solid rgba(57, 55, 55, 0.338);
        height: 100%;
        padding: 2rem;
        @media(max-width: 768px){
          font-size: .6rem;
          padding: 1rem .3rem;
        }
       }
       .followBtn{
        padding: 1rem;
        @media(max-width: 768px){
          font-size: .6rem;
          padding-bottom: 3rem;
        }
       }
      }
    }
    .contentSection{
      margin-top: 1rem;
      border-radius: 1.2rem;
      background-color: $primContainerBgColor;
      width: 51%;
      overflow: auto;
      @media(max-width: 768px){
        width: 100%;
        height: 500px;
        overflow: scroll;
        padding: .4rem .3rem;
        margin-top: 0;
      }
      .content-title{
        padding: 1rem 1.6rem;
        border-bottom: .5px solid rgba(57, 55, 55, 0.338);
      }
      .description{
        padding: .2rem 1.6rem;
        margin-top: 1.3rem;
      }
      .services{
        width: 100%;
        flex-wrap: wrap;
        .content-title{
          padding: 1rem 1.6rem;
          background-color: firebrick;
          border-bottom: .5px solid rgba(57, 55, 55, 0.338);
        }
          .servicesCards{
            margin-top: 1rem;
            flex-wrap: wrap;
            border-top: .5px solid rgba(57, 55, 55, 0.338);
            border-bottom: .5px solid rgba(57, 55, 55, 0.338);
            @media(max-width: 768px){
              // padding: 1rem;
            }
            .servicesCard{
              padding: .3rem;
              border-bottom: .5px solid rgba(57, 55, 55, 0.338);
              border-right:.5px solid rgba(57, 55, 55, 0.338);
            border-left: .5px solid rgba(57, 55, 55, 0.338);
            // background-color: red;
            padding: 1rem 2rem;
            @media(max-width: 768px){
                padding:  0 .5rem;

              }
              .sectionTitle{
                @media(max-width: 768px){
                  font-size: 1rem;
                }
              }
            }
          }
      }
      .pricing{
        width: 100%;
        .pricingCards{
          width: 100%;
          padding: 0;
          @media(max-width: 768px){
            flex-direction: column;
            gap: 1rem;
          }
          .pricing-card{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: .7rem;
            border-left:.5px solid rgba(57, 55, 55, 0.338); 
            @media(max-width: 768px){
              width: 100%;
            }
            .order{
              width: 100%;
              display: flex;
              justify-content: center;
              text-align: center;
              overflow: hidden;
              button{
                border-top: .5px solid rgba(255, 255, 255, 0.441);
                padding: 1rem 6rem;
                margin-top: 1rem;
              }
            }
          }
        }
      }
      .clients-sectn {
        // padding: 1rem;

        .clients-cards{
          display: flex;
          width: 100%;
          @media(max-width: 768px){
            flex-direction: column;
          }
          .client{
            border-top: .5px solid rgba(128, 128, 128, 0.292);
            border-left: .5px solid rgba(128, 128, 128, 0.292);
            padding: 2rem;
            width: 25%;
            @media(max-width: 768px){
              width: 100%;

            }
          }
        }
      }
    }
  }
}